#hello {
    font-family: inherit;
    font-weight: 600;
    background-color: #a5d8f5;
    color: #102029;
    padding: 5px;
    border: solid 1px;
    border-radius:10%;
    margin: 5px;
}

button:hover {
    transition: 100ms;
    border: solid #b5d8ff 1px;
    box-shadow: 3px 3px 2px black;
}