body {
    background-color: #102029;
    color: #e5eaf5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title {
    background-color: #153040;
}

a {
    color: #a5d8f5;
}

#invisible {
    opacity: 0;
}

#appears {
    transition: opacity 2s ease;
}

#hello {
    font-family: inherit;
    font-weight: 600;
    background-color: #a5d8f5;
    color: #102029;
    padding: 5px;
    border: solid 1px;
    border-radius:10%;
    margin: 5px;
}

button:hover {
    transition: 100ms;
    border: solid #b5d8ff 1px;
    box-shadow: 3px 3px 2px black;
}

#pdf {
    box-shadow: 5px 5px;
}